/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url('../../files/fondo2.jpg') no-repeat;
  background-size: cover;
  background-position: center;  /* centrada */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Contenedor del login */
.login-container {
  background: rgba(255, 255, 255, 0.15); /* Fondo semitransparente */
  backdrop-filter: blur(12px);           /* Efecto vidrio */
  -webkit-backdrop-filter: blur(12px);   /* Compatibilidad Safari */
  border-radius: 20px;
  padding: 40px 30px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.login-container:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* Título */
.login-container h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #ffffff; /* Blanco para contraste sobre fondo translúcido */
}

/* Inputs */
.login-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  transition: all 0.3s ease;
}

.login-container input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.login-container input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* Botón */
.login-container button {
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.login-container button:hover {
  background-color:rgba(255, 255, 255, 0.3);
  transform: scale(1.03);
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #fff;
  color: #333;
  margin: 15% auto;
  padding: 20px 25px;
  border-radius: 8px;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
}

.modal-content button {
  margin-top: 15px;
  background-color: #7e57c2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-content button:hover {
  background-color: #5e35b1;
}
